* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "K2D", sans-serif;
}
/* ------------------------------------ Start header  ------------------------------------*/

header {
  width: 100%;
  height: 120px;
  background-color: #01273c;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.nav-gid {
  display: grid;
  grid-template-columns: 225px 1fr;
}

.name-web {
  color: white;
  text-transform: uppercase;
}

.name-web h1 {
  font-size: 20px;
  padding-top: 30px;
}

.name-web span {
  font-size: 12px;
}

ul.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-top: 7%;
}

ul.menu li {
  text-align: center;
  list-style: none;
}

ul.menu li a {
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3 ease-ease-in-out;
  color: white;
  padding: 5px 10px;
}

ul.menu li a:hover {
  background: #40aed7;
  padding: 5px 10px;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 5px;
}

a {
  text-decoration: none;
}
.name-web a {
  color: inherit;
}
/* ------------------------------------ End header  ------------------------------------*/

@media screen and (max-width: 375px) {
  header {
    width: 100%;
    height: auto;
    background-color: #01273c;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
  }

  .nav-gid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .name-web {
    color: white;
    text-transform: uppercase;
  }

  .name-web h1 {
    font-size: 20px;
    padding-top: 30px;
  }

  .name-web span {
    font-size: 12px;
  }

  ul.menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-top: 7%;
  }

  ul.menu li {
    margin-top: 15px;
  }
}

@media screen and (max-width: 414px) {
  .row:nth-child(3) {
    margin-bottom: 30%;
  }
  div.dataTables_wrapper div.dataTables_paginate {
    margin-bottom: 10%;
  }
  .pagination {
    display: grid;
    grid-template-columns: 1fr;
  }
  header {
    width: 100%;
    height: auto;
    background-color: #01273c;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
  }

  .nav-gid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .name-web {
    color: white;
    text-transform: uppercase;
  }

  .name-web h1 {
    font-size: 20px;
    padding-top: 30px;
  }

  .name-web span {
    font-size: 12px;
  }

  ul.menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-top: 7%;
  }

  ul.menu li {
    margin-top: 15px;
  }
}

/* ------------------------------------ End Header Responsive  ------------------------------------*/

/* ------------------------------------ Start Footer  ------------------------------------*/
.copyright {
  width: 100%;
  height: 100;
  background-color: #01273c;
  position: fixed;
  left: 0;
  bottom: 0;
}

.copy-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 20px;
}

.copy-grid p {
  margin: 0;
}

.copytext {
  justify-self: flex-start;
  align-self: center;
}

.creadit {
  justify-self: flex-end;
  align-self: center;
}

.copytext p {
  color: white;
  margin: 10;
}

.creadit p {
  color: white;
  margin: 10;
}

/* ------------------------------------ End Footer  ------------------------------------*/

/* ------------------------------------ Start Content  ------------------------------------*/

@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

.content-service {
  width: 100%;
  height: auto;
  margin: 25% auto;
}

.content-service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  grid-gap: 1rem;
}

.content-service-item {
  border: 1px solid #efefef;
  padding: 20px 20px;
  background-color: white;
  cursor: pointer;
}

.content-service-item .fa {
  font-size: 7rem;
  color: #333;
}

.content-service-item h2 {
  font-size: 32px;
  color: #333;
  margin: 20px 0;
}

.content-service-item p {
  font-size: 20px;
  color: #979797;
  margin: 20px 0;
}

/*------------ service :hover ------------*/

.content-service-item:hover {
  border: 1px solid #bad7ff;
  padding: 20px 20px;
  transition: 0.3s ease-in-out;
  background-color: #8bb4ea;
}

.content-service-item:hover .fa {
  font-size: 7rem;
  color: #333;
}

.content-service-item:hover h2 {
  font-size: 32px;
  color: white;
  margin: 20px 0;
}

.content-service-item:hover p {
  font-size: 20px;
  color: white;
  margin: 20px 0;
}

/*------------ end service :hover ------------*/

@media screen and (max-width: 375px) {
  .row:nth-child(3) {
    margin-bottom: 30%;
  }
  div.dataTables_wrapper div.dataTables_paginate {
    margin-bottom: 10%;
  }
  .pagination {
    display: grid;
    grid-template-columns: 1fr;
  }
  .content-service {
    width: 100%;
    height: auto;
    margin: 25% auto;
  }

  .content-service-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    grid-gap: 1rem;
  }

  .content-service-item {
    border: 1px solid #efefef;
    padding: 20px 20px;
    background-color: white;
    cursor: pointer;
  }

  .content-service-item .fa {
    font-size: 7rem;
    color: #333;
  }

  .content-service-item h2 {
    font-size: 32px;
    color: #333;
    margin: 20px 0;
  }

  .content-service-item p {
    font-size: 20px;
    color: #979797;
    margin: 20px 0;
  }
  .content-service-item:nth-child(3) {
    margin-bottom: 25%;
  }
  /*------------ service :hover ------------*/

  .content-service-item:hover {
    border: 1px solid #bad7ff;
    padding: 20px 20px;
    transition: 0.3s ease-in-out;
    background-color: #8bb4ea;
  }

  .content-service-item:hover .fa {
    font-size: 7rem;
    color: #333;
  }

  .content-service-item:hover h2 {
    font-size: 32px;
    color: white;
    margin: 20px 0;
  }

  .content-service-item:hover p {
    font-size: 20px;
    color: white;
    margin: 20px 0;
  }
}

@media screen and (max-width: 414px) {
  .content-service {
    width: 100%;
    height: auto;
    margin: 25% auto;
  }

  .content-service-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    grid-gap: 1rem;
  }

  .content-service-item {
    border: 1px solid #efefef;
    padding: 20px 20px;
    background-color: white;
    cursor: pointer;
  }

  .content-service-item .fa {
    font-size: 7rem;
    color: #333;
  }

  .content-service-item h2 {
    font-size: 32px;
    color: #333;
    margin: 20px 0;
  }

  .content-service-item p {
    font-size: 20px;
    color: #979797;
    margin: 20px 0;
  }
  .content-service-item:nth-child(3) {
    margin-bottom: 25%;
  }
  /*------------ service :hover ------------*/

  .content-service-item:hover {
    border: 1px solid #bad7ff;
    padding: 20px 20px;
    transition: 0.3s ease-in-out;
    background-color: #8bb4ea;
  }

  .content-service-item:hover .fa {
    font-size: 7rem;
    color: #333;
  }

  .content-service-item:hover h2 {
    font-size: 32px;
    color: white;
    margin: 20px 0;
  }

  .content-service-item:hover p {
    font-size: 20px;
    color: white;
    margin: 20px 0;
  }
}

a {
  border: none;
  outline: none;
}
/* ------------------------------------ End Content  ------------------------------------*/

/* ------------------------------------ CSS Page Disease ------------------------------------ */

.title-category {
  margin: 20px 0;
}

.title-category h2 {
  font-size: 2rem;
  text-align: center;
}
