* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "K2D", sans-serif;
}
/* ------------------------------------ Start header  ------------------------------------*/

header {
  width: 100%;
  height: 120px;
  background-color: #01273c;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.nav-gid {
  display: grid;
  grid-template-columns: 1fr;
}

.name-web {
  color: white;
  text-transform: uppercase;
}

.name-web h1 {
  font-size: 30px;
  padding-top: 40px;
}

.name-web span {
  font-size: 12px;
}

ul.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-top: 7%;
}

ul.menu li {
  text-align: center;
  list-style: none;
}

ul.menu li a {
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3 ease-ease-in-out;
  color: white;
  padding: 5px 10px;
}

ul.menu li a:hover {
  background: #40aed7;
  padding: 5px 10px;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 5px;
}

a {
  text-decoration: none;
}
.name-web a {
  color: inherit;
  text-decoration: none;
}

/* ------------------------------------ End header  ------------------------------------*/

@media screen and (max-width: 375px) {
  header {
    width: 100%;
    height: auto;
    background-color: #01273c;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
  }

  .nav-gid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .name-web {
    color: white;
    text-transform: uppercase;
  }

  .name-web h1 {
    font-size: 20px;
    padding-top: 30px;
  }

  .name-web span {
    font-size: 12px;
  }

  ul.menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-top: 7%;
  }

  ul.menu li {
    margin-top: 15px;
  }
}

@media screen and (max-width: 414px) {
  header {
    width: 100%;
    height: 200px;
    background-color: #01273c;
  }
  footer .copyright {
    width: 100%;
    height: 100;
    background-color: #01273c;
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 50px;
  }
  .pagination {
    display: grid;
    grid-template-columns: 1fr;
  }
  header {
    width: 100%;
    height: auto;
    background-color: #01273c;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
  }

  .nav-gid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .name-web {
    color: white;
    text-transform: uppercase;
  }

  .name-web h1 {
    font-size: 20px;
    padding-top: 30px;
  }

  .name-web span {
    font-size: 12px;
  }

  ul.menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-top: 7%;
  }

  ul.menu li {
    margin-top: 15px;
  }
}

/* ------------------------------------ End Header Responsive  ------------------------------------*/

/* ------------------------------------ Start Footer  ------------------------------------*/
.copyright {
  width: 100%;
  height: 100;
  background-color: #01273c;
  position: relative;
  left: 0;
  bottom: 0;
  margin-top: 50px;
}

.copy-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 20px;
}

.copy-grid p {
  margin: 0;
}

.copytext {
  justify-self: flex-start;
  align-self: center;
}

.creadit {
  justify-self: flex-end;
  align-self: center;
}

.copytext p {
  color: white;
  margin: 10;
}

.creadit p {
  color: white;
  margin: 10;
}

/* ------------------------------------ End Footer  ------------------------------------*/
/* ------------------------------------ Start Footer 2 ------------------------------------*/
.container2 {
  max-width: 960px;
  margin: 0 auto;
}
.copyright2 {
  width: 100%;
  height: 100;
  background-color: #01273c;
  position: fixed;
  left: 0;
  bottom: 0;
  margin-top: 50px;
}

.copy-grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 20px;
}

.copy-grid2 p {
  margin: 0;
}

.copytext2 {
  justify-self: flex-start;
  align-self: center;
}

.creadit2 {
  justify-self: flex-end;
  align-self: center;
}

.copytext2 p {
  color: white;
  margin: 10;
}

.creadit2 p {
  color: white;
  margin: 10;
}

/* ------------------------------------ End Footer  ------------------------------------*/

/* ------------------------------------ Start Content  ------------------------------------*/

@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

.content-service {
  width: 100%;
  height: auto;
  /* margin: 25% auto; */
}

.content-service-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  grid-gap: 1rem;
}

.content-service-item {
  border: 1px solid #efefef;
  padding: 20px 20px;
  cursor: pointer;
  height: 300px;
}

.content-service-grid-ref {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-gap: 1rem;
  margin: 20px 0;
}

.content-service-grid-ref-item img {
  width: 100%;
}

.content-service-grid-ref-item {
  margin: auto;
  text-align: center;
}
/* คำศัพ dfefdd 

  ประโยค e3c5f4

  บทสนทนา fad4ae
*/

/* 1-8 */
.content-service-item:nth-child(1) {
  background-color: rgba(253, 196, 205, 0.4);
}
.content-service-item:nth-child(2) {
  background-color: rgba(253, 196, 205, 0.4);
}
.content-service-item:nth-child(3) {
  background-color: rgba(253, 196, 205, 0.4);
}
.content-service-item:nth-child(4) {
  background-color: rgba(253, 196, 205, 0.4);
}
.content-service-item:nth-child(5) {
  background-color: rgba(253, 196, 205, 0.4);
}
.content-service-item:nth-child(6) {
  background-color: rgba(253, 196, 205, 0.4);
}
.content-service-item:nth-child(7) {
  background-color: rgba(253, 196, 205, 0.4);
}
.content-service-item:nth-child(8) {
  background-color: rgba(253, 196, 205, 0.4);
}

/* 9-15 */
.content-service-item:nth-child(9) {
  background-color: rgba(218, 239, 220, 0.4);
}
.content-service-item:nth-child(10) {
  background-color: rgba(218, 239, 220, 0.4);
}
.content-service-item:nth-child(11) {
  background-color: rgba(218, 239, 220, 0.4);
}
.content-service-item:nth-child(12) {
  background-color: rgba(218, 239, 220, 0.4);
}
.content-service-item:nth-child(13) {
  background-color: rgba(218, 239, 220, 0.4);
}
.content-service-item:nth-child(14) {
  background-color: rgba(218, 239, 220, 0.4);
}
.content-service-item:nth-child(15) {
  background-color: rgba(218, 239, 220, 0.4);
}

/* 16-19 */
.content-service-item:nth-child(16) {
  background-color: rgba(251, 211, 175, 0.4);
}
.content-service-item:nth-child(17) {
  background-color: rgba(251, 211, 175, 0.4);
}
.content-service-item:nth-child(18) {
  background-color: rgba(251, 211, 175, 0.4);
}
.content-service-item:nth-child(19) {
  background-color: rgba(251, 211, 175, 0.4);
}

.content-service-item img {
  font-size: 7rem;
  color: #333;
}

.content-service-item .fa {
  font-size: 7rem;
  color: #333;
}

.content-service-item h2 {
  font-size: 32px;
  color: #333;
  margin: 20px 0;
}

.content-service-item p {
  font-size: 20px;
  color: #979797;
  margin: 20px 0;
}
.content-service-item a {
  text-decoration: none;
}
/*------------ service :hover ------------*/

.content-service-item:hover {
  border: 1px solid #bad7ff;
  padding: 20px 20px;
  transition: 0.3s ease-in-out;
  background-color: #8bb4ea;
}

.content-service-item:hover .fa {
  font-size: 7rem;
  color: #333;
}

.content-service-item:hover h2 {
  font-size: 32px;
  color: white;
  margin: 20px 0;
}

.content-service-item:hover p {
  font-size: 20px;
  color: white;
  margin: 20px 0;
}

/*------------ end service :hover ------------*/

@media screen and (max-width: 375px) {
  header {
    width: 100%;
    height: 120px;
    background-color: #01273c;
  }
  footer .copyright {
    width: 100%;
    height: 100;
    background-color: #01273c;
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 50px;
  }
  footer .copyright2 {
    width: 100%;
    height: 100;
    background-color: #01273c;
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 50px;
  }
  .content-service-grid-ref {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 20px 0;
  }
  .pagination {
    display: grid;
    grid-template-columns: 1fr;
  }
  .content-service {
    width: 100%;
    height: auto;
    margin: 25% auto;
  }

  .content-service-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    grid-gap: 1rem;
  }

  .content-service-item {
    border: 1px solid #efefef;
    padding: 20px 20px;
    background-color: white;
    cursor: pointer;
  }

  .content-service-item .fa {
    font-size: 7rem;
    color: #333;
  }

  .content-service-item h2 {
    font-size: 32px;
    color: #333;
    margin: 20px 0;
  }

  .content-service-item p {
    font-size: 20px;
    color: #979797;
    margin: 20px 0;
  }

  /*------------ service :hover ------------*/

  .content-service-item:hover {
    border: 1px solid #bad7ff;
    padding: 20px 20px;
    transition: 0.3s ease-in-out;
    background-color: #8bb4ea;
  }

  .content-service-item:hover .fa {
    font-size: 7rem;
    color: #333;
  }

  .content-service-item:hover h2 {
    font-size: 32px;
    color: white;
    margin: 20px 0;
  }

  .content-service-item:hover p {
    font-size: 20px;
    color: white;
    margin: 20px 0;
  }
}

@media screen and (max-width: 414px) {
  header {
    width: 100%;
    height: 120px;
    background-color: #01273c;
  }
  .content-service-grid-ref {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 20px 0;
  }
  .content-service {
    width: 100%;
    height: auto;
    margin: 25% auto;
  }

  .content-service-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    grid-gap: 1rem;
  }

  .content-service-item {
    border: 1px solid #efefef;
    padding: 20px 20px;
    background-color: white;
    cursor: pointer;
  }

  .content-service-item .fa {
    font-size: 7rem;
    color: #333;
  }

  .content-service-item h2 {
    font-size: 32px;
    color: #333;
    margin: 20px 0;
  }

  .content-service-item p {
    font-size: 20px;
    color: #979797;
    margin: 20px 0;
  }

  /*------------ service :hover ------------*/

  .content-service-item:hover {
    border: 1px solid #bad7ff;
    padding: 20px 20px;
    transition: 0.3s ease-in-out;
    background-color: #8bb4ea;
  }

  .content-service-item:hover .fa {
    font-size: 7rem;
    color: #333;
  }

  .content-service-item:hover h2 {
    font-size: 32px;
    color: white;
    margin: 20px 0;
  }

  .content-service-item:hover p {
    font-size: 20px;
    color: white;
    margin: 20px 0;
  }
}

a {
  border: none;
  outline: none;
}
/* ------------------------------------ End Content  ------------------------------------*/

/* ------------------------------------ CSS Page Disease ------------------------------------ */

.title-category {
  margin: 20px 0;
}

.title-category h2 {
  font-size: 2rem;
  text-align: center;
}

/* ------------------------------------ Start page Conversations ------------------------------------ */

.title-conversation h2 {
  margin-top: 20px;
}

.title-conversation p {
  font-size: 20px;
  border-bottom: 2px solid #01273c;
}

.conversation li {
  margin-left: 20px;
}

.vocabulary {
  color: red;
}

.vocabulary-dt {
  margin-left: 10px;
}

.conversation p {
  font-size: 25px;
}

.conversation-last li {
  margin-left: 20px;
}

.conversation-last {
  margin-bottom: 5rem;
}
.conversation-last p {
  font-size: 25px;
}
/*  Responsive Conversation */
@media screen and (max-width: 414px) {
  .conversation-last {
    margin-bottom: 10rem;
  }
  ul:last-child() {
    margin-bottom: 50%;
  }
}

@media screen and (max-width: 375px) {
  .conversation-last {
    margin-bottom: 10rem;
  }
  .conversation ul:last-child() {
    margin-bottom: 50%;
  }
}

/*  end Responsive Conversation */

/* ------------------------------------ end page Conversations ------------------------------------ */

.detail-grid {
  display: grid;
  grid-template-columns: 120px 1fr;
}

.detail-grid-item p {
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  footer .copyright {
    width: 100%;
    height: 100;
    background-color: #01273c;
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 50px;
  }
  .content-service-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    grid-gap: 1rem;
  }
  .content-service-item {
    border: 1px solid #efefef;
    padding: 20px 20px;
    cursor: pointer;
    height: 350px;
  }
}
